
<% if logged_in? %>
<div class=boxed-user-message>You are already logged in. 
<%= link_to 'Log out', :action => 'logout' %></div>
<% end %>

<%= form_tag :action=>'create' %>
<table border=0>
  <tr>
    <td>User name:</td>
    <td><%= text_field("userform", "username", :size=>"20" ) %> </td>
    </tr>
  <tr>
    <td>Password:</td>
    <td><%= password_field("userform", "password", :size=>"20" ) %></td>
  </tr>
  <tr>
    <td></td>
    <td><input type="submit" value=" LOGIN " /></td>
</table>


