<font size=+2>T</font>hanks for your interest in making a difference!
Here are a list of things you could do that would be really helpful:
<P>

<ol>

<li> <B><a href="http://www.volunteermatch.org/results/org_detail.jsp?orgid=27829">Volunteer opportunities</a></B> at Stop Abuse For Everyone. Many of these are things that can be done regardless of where you live.<P>

<li> <B><a href="/donate">Make a Donation</a></B> learn more about contributing to SAFE, including how to make donations, how your money will be used, and what a difference it will make.

<P />

<LI> <B>Become a Member </B>- If you can't afford to make a larger
donation, at least <a href="/join">become a member of SAFE</a>,
which is only a US$20.00 annual donation.  You'll have the option of being added to our email list to be kept abreast of news and events.

<P>

<li> <b>Join the SAFE Media Corps</b> - Interested in making a difference in how domestic violence issues are reported on? Want to only volunteer 5 or 10 minutes at a time, from your own home?
<p />
Stop Abuse For Everyone has started up the <a href="media-corps/">Stop Abuse For Everyone Media Corps</a>. Every day, we send out postings of news articles from around the world that cover domestic violence, and suggest ways you can write short, polite letters to the reporters, editors, and agencies involved to encourage them to include everyone who is abused in their services. To join, write <a href="mailto:safe@safe4all.org">safe@safe4all.org</a>
<p />

<LI> <B>Have a party!</b> - That's right, have a party.  Invite your friends and acquaintances to a bar-b-q, a costume or other theme party, or just an informal get-together. If you like, we'll even help you mail out the invitations from your list. A SAFE representative (or you with some guidance) will give a brief  talk and show a short (10 minute) video. The hat will be passed for contributions from your guests with no pressure to contribute if they do not wish to. Your party then goes on.  It's a great excuse to have a good time and feel like you are accomplishing something very worthwhile at the same time!

<p />

<LI> <B>List local services</B> - SAFE maintains a <a href="/resource-list/">list of local resources</a>. Anybody who registers on the SAFE website can add resources to this list, and also comment on existing resources. If you want to help other people out in your area, you can list any local services that are in your phone book (if you want to be extra-helpful, call them up, and confirm what populations they're serving. Be polite!). Also, you can add comments to any resources that are already there, describing what your experiences were like there. 

<P> 

<LI> <B><a href="/startup">Start a Local Chapter of SAFE</a></B> set up a hotline, support group, or shelter in your local area. Or advocate for services in your area. Either way, local chapters are what really make the biggest difference in a local area. 

<P />

<LI> <B>Help Set up a Training/Speaking Engagement</B> SAFE speakers
are listed on the <a href="/speakers">speakers bureau page</a>.
We're adding more experts all the time.  This is one of the primary
missions of SAFE to provide accurate balanced information to service
providers and the general public and conduct trainings on how service
providers (social service, crisis lines, shelters, law enforcement,
health care, etc.) can effectively and at low cost be gender
inclusive.  By conducting professional presentations to such groups,
we greatly expand services for under served victims of domestic
violence.  <P>

You can help, and it's easy!  <P>

<P><ul>

  <li> Contact your local service provider-police department,
hospital/health care system, district attorney, bar association,
nursing association, physician group, university, etc.<P>

  <LI> Ask for the person in charge of professional education or
training.  Encourage them to contact SAFE via the webpage speaker
bureau and inquire about conducting a training or hearing from a speaker. 

</ul><P>

Don't forget venues that would apply to the general public
too.  Although due to travel costs, your local Rotary etc., may not be
able to bring in a speaker, nearly every metro area has some civic
group or an upcoming conference that could sponsor a speaker.  What
organizations are you or someone you might know involved in?  All it
takes is persistence, some follow-up phone calls and a little effort.
Give it a try in your area today!

<P>

<LI> <B>Join our mailing lists</B> - Be connected with other involved in this field, and know what's happening around the world with domestic violence issues, and especially with underrepresented domestic violence populations. <a href="/forums">SAFE forums</a> 


<P>

<LI> <B>Research Services</B> - Do research and try to find local
services that will serve underserved groups such as men and lesbians. 
Then suggest these resources on the SAFE <a href="/resource-list">resource list</a>.
It's fairly easy, all you have to do is log in to the website, and then you can suggest away!
Do what you can to double check so that we know that the service really does
provide help and what kind. Don't forget to provide as much complete
contact information as possible: phone number; webpage, email;
address.  The name of the person you contacted is always helpful.
Service providers are, of course, encouraged to submit detailed information
directly. Write letters or call local services, asking them if they
serve EVERYONE who is abused, and if not, why not? Ask them to offer
services, and if they need help doing so, tell them they can contact
SAFE.

<P>

<LI> <B>Support others</B> - If you want to help directly, and have
experienced abuse yourself, join the <a href="http://www.safe4all.org/forums/forum-view?forum%5fid=6756">Support and Discussion Forum</a> (click on <i>request notifications</i>), an online mailing list,
and provide an understanding ear for those who are going through an
abusive relationship or have left one.  

<P>

<LI> <B>Use the Domestic Violence Brochures</B> - The 
<a href="/brochure">brochures</a> for men, gay men, and lesbian women
 can make a big difference for service providers, and
contains things which you can use very effectively and with not much
time and effort.  
Order 25 copies of the brochure.  Next, make some phone calls.  Every
police department, emergency room, and courthouse in the nation should
have copies of this brochure on hand for potential victims.  We've got
a long way to go! You can help, send the letter, a copy of the
brochure, and the order form to the right person in each of these
areas. Follow-up, ask if they are going to get the brochures for their
agency.  Think globally, act locally! You can make this effort with
very little time put into it, a few phone calls to find the right
person, a few stamps for mailing and a few phone calls to follow-up.
This effort can really be easily done.

<P>

<LI> <B>Contribute your time</B> If your professional expertise would
help out in any way, your time could be a valuable contribution.
Write <a href="mailto:jade@safe4all.org">jade@safe4all.org</a> if
you're interested in helping out by donating your time or
expertise. For example, translators could translate our publications
into foreign languages, lawyers could offer some legal counsel, people
with web ability could offer to do some web work, and so on. We have a
very active volunteer program, so take part in it!

<P><LI> <B>Write about your personal experience</B> in our <a href="/forums">forums</a> section, and help others understand this issue.

<P>
<LI> <B>Encourage sites to link to SAFE</B>. Surf the web, find sites
that might link to Stop Abuse For Everyone, and write their webmaster
and request a link to SAFE. Please be courteous, and not represent
yourself as being a part of SAFE (unless you are). This helps SAFE out
by making us more prominent on search engines and directs more people
to the SAFE website. If someone's looking for resources, this could
make a huge difference for them. Specifically, we suggest these links:

<pre>
&lt;a href=&quot;http://www.safe4all.org&quot;&gt;
Stop Abuse For Everyone&lt;/a&gt;
</pre>

<pre>
&lt;a href=&quot;http://www.safe4all.org&quot;&gt;
domestic violence&lt;/a&gt;
</pre>

<pre>
&lt;a href=&quot;http://www.safe4all.org/resource-list/index?category=1&quot;&gt;
battered men resource list&lt;/a&gt;
</pre>

<pre>
&lt;a href=&quot;http://www.safe4all.org/resource-list/index?category=1&quot;&gt;
abused men resource list&lt;/a&gt;
</pre>

<pre>
&lt;a href=&quot;http://www.safe4all.org/resource-list/index?category=2&quot;&gt;
battered women resource list&lt;/a&gt;
</pre>

<pre>
&lt;a href=&quot;http://www.safe4all.org/resource-list/index?category=3&quot;&gt;
Abused gay, bisexual, and transgendered men resource list&lt;/a&gt;
</pre>

<pre>
&lt;a href=&quot;http://www.safe4all.org/resource-list/index?category=4&quot;&gt;
Abused lesbian, bisexual, and transgendered women resource list&lt;/a&gt;
</pre>

 <P>

<P><LI> <B>Be on the S.A.F.E. contact person list</B> Write <a
href="mailto:safe@safe4all.org">safe@safe4all.org</a> if you're
willing to talk about your experiences with domestic violence to the
media. Let us know your name, contact information, geographic
location, and a <I>brief</I> description of your experience. Include whether
or not you have photos, what previous contacts you have had with the
media, and anything else that would help us identify whether you'd be
appropriate for a particular reporter to talk to. Past media contacts
have included ABC News 20/20, The National Associated Press,
&quot;Sally&quot;, Montel Williams Show, The Home and Family Show, The
Detroit News, The Georgia Straight, Dear Abby, and many more. We can only consider people if they send along the following supporting information:

<P>
Please send the following in an email or by mail
list:
<ol>
<li> A sentence stating that you'd like to be on the media contact list
<li> Name, address, day and evening phone numbers. Include what metro area you
are nearest to.
<li> Do you have photos and/or medical/police records of any injuries you
sustained?
<li> Was your assailant arrested or a police report made?  Were you arrested?
<li> Do you, or did you have an attorney related to this case?  Name, address,
phone, if so.
<li> Was a restraining/protective order issued? Against whom? When? How many
times?
<li> Did you seek services from any crisis line or domestic violence shelter?
What was their response?
<li> Provide a SHORT version of what what happened to you including dates,
witnesses, etc.
</ol>
600 words maximum.

</ol>

We're glad to hear of your interest. People like you make such a
difference in the world and in our organization!  Every person counts
and every person with just a little effort can make a big impact.
Thank you!

<h3>Links</h3>
