<% page_heading "How to find help" %>

<ol>

<li value="1"> <b>Join our online support group</b> 
<P>If you're looking for people to talk with, advice, and support,
join our online support group in the <b>SAFE Support and Discussion Forum</b>. 

The main forum is for abuse of all sorts (men and women, straight and
gay, elderly abuse, sibling abuse, etc..), and for people that have
abused as well (as long as they are trying to change their
behavior). It is a safe place to talk about your experiences and seek
support. One of the forum's advantages is that because there is a
lot of different types of people on the list, you're often able to get
perspectives you wouldn't get if everybody in the group was exactly
like you.

To participate in this group, see the <a href="/forums">forums</a> page, and specifically, the Support and Discussion Forum. You can subscribe to receive email alerts by clicking on the link at the top of the Support and Discussion Forum.
<P />
Make sure you take precautions to protect your anonymity online -- if you are worried about your safety if someone reads your message, then make sure you <a href="http://www.safe4all.org/forums/message-view?message_id=28032">make your identity anonymous</a> and know how to protect yourself online.

<li value="2"> <b>Get a copy of our abuse brochure</b>
<P>
See our <a href="/brochure">domestic violence brochures</a>. 

<li value="3"> <b>Look for local resources</b> 

<P>SAFE maintains this <a href="/resource-list/">domestic violence resource list</a> <P> 

This is a user-built and &quot;consumer rated&quot; resource list. Anyone can add new resources, and anybody can comment on their experiences at these locations. So if you're looking for help, go through the list of resources in your area, and let us know what your experience is with each location.  <P />

We rely on our readers to provide feedback on how good or bad a service is, so we cannot guarantee the quality of any of these services.  

<P>
<font size=6><li value="4"></font><b>Learn about abusive relationships</b> 

<P>
Our SAFE &quot;learn page&quot; has <a href="/resources">domestic violence information and research</a>, including books you can read and get practical advice for your situation, research, articles on the topic of domestic violence, and more.

<P>
<font size=6><li value="5"></font><b>Look up local domestic violence laws, how to get a restraining order, etc..</b> 
<p />
<a href="http://www.womenslaw.org/index.htm">Women's Law Inititative</a> - this website is a valuable resource for looking up local laws on domestic violence, and how restraining orders work.

</ol>
