<br>
<br>

<font size="-1"><blockquote>Stop Abuse For Everyone (SAFE) is a human rights organization that
provides services, publications, and training to serve those who
typically fall between the cracks of domestic violence services: <b>straight men, GLBT victims, teens, and the elderly</b>. We promote services for all victims and accountability for all perpetrators.</font>

<P>

Selected as one of the <a
href="http://store.yahoo.com/mcgruff/50strattopre.html">50 most
promising strategy programs</a> in the nation to prevent domestic
violence by the National Crime Prevention Council.</blockquote></li><P
/>

<br>
<br>


<p>

<table border=0 cellpadding=0 cellspacing=0 width="100%">
<tr id="heading-color2">
<td width="40%">
<h4>Looking for help?</h4>
</td>
<td width="10%">&nbsp;</td>
<td width="40%">
<h4>Do you provide services?</h4>
</td>
<tr>
<td valign="top">
<br>

<ul>

<li> Read our <a href="/help/">finding help guide</a></li>
<p>

<li> Participate in our <a href="http://www.safe4all.org/news/item?item_id=41211">online support groups</a>. You can also talk with others about your experiences on our online <a href="/forums/forum-view?forum%5fid=6756">support and discussion forum</a></li>
<p>

<li> Find local help from our user-rated <a href="/resource-list/">resource list</a> </li>
<p>

<li> Look at our <a href="/brochure">brochures</a> for abused straight men, gay men, and lesbians. Dear Abby recommended the men's brochures in her 3/22/02 column.</li>

</td>
<td>
&nbsp;
</td>
<td valign="top">

<ul>
<br>
<li> Add your resource to our <a href="/resource-list/">resource list</a>.</li>
<p>

<li> Order our <a href="/brochure">brochures</a> to distribute. There is space on the brochure for you to list your organization's information. Dear Abby recommended the men's brochures in her 3/22/02 column.</li>
<p>

<li> Book a <a href="/speakers/">trainings or presentations</a> with our highly regarded speaker's bureau. </li>
<p>

<li> Consider <a href="/startup">becoming a chapter of SAFE</a></li>

</ul>

</td>

</ul>

</table>

<br>
<br>


<table border=0>
<tr id="heading-color2">
<td>
<h4>Are you interested in making a difference?</h4>
<tr>
<td>
<ul>
<li> SAFE is one of the most rewarding organizations to volunteer for, because you can see the impact of your work immediately. Help us provide services to those who aren't getting help at all: see our list of <a href="/difference/">many ways to help stop abuse for everyone</a>, 
</ul>
</td>
</table>

<br />
<br />
<br />
<br />



