<%= page_heading "About SAFE" %>

<blockquote><font SIZE=+2>Stop Abuse For Everyone</font> (SAFE)
provides unique services for domestic violence victims. We look for
those who typically fall between the cracks, and are receiving the
least amount of help -- people for whom few services are
available. Our approach is to view domestic violence as a human
issue. We often say it this way, "it doesn't matter what <I>type</I> of
person you are, if you're in an abusive relationship, it is the type
of experience you're having that is important. The services you
receive should be based on what you need, rather than who you are."
That is the goal we work towards.

<P>

However, there are also problems that individuals face
based on the fact that they are men or women, gay or straight, old or
young. SAFE addresses their individual concerns, and fills in the
gaps in domestic violence services.

<P>

SAFE provides the following services:
<ul>

<li><a href="/speakers">Professional trainings and presentations</a> to service providers.</li>

<p>

One of SAFE's missions is to make it as easy as possible for service
providers to expand their services to underserved victims.

Stop Abuse For Everyone was selected as one of only <i>50 promising
strategy programs</i> in the nation to prevent domestic violence by
the National Crime Prevention Council.  The National Crime Prevention
Council is the non-profit &quot;take a bite out of crime&quot; organization
funded by the U.S.  Justice Department. SAFE was selected because of
it's unique programs to bring services to underserved victims of
domestic violence crime, and the applicability of SAFE programs,
training and publications to other agencies such as law enforcement,
health care providers, social service, and other domestic violence
intervention programs. You can <a href="http://store.yahoo.com/mcgruff/50strattopre.html">acquire</a> this publication.
</li> 

<li><a href="/order_form">Brochures for underserved domestic violence
groups</a> (currently men, gay men, and lesbian women) in several languages
<P />

&quot;Dear Abby&quot; endorsed the men's brochure in her
column. </li>

<li><a href="/help">An online support group</a>

<P>
For years, individuals have used this group to find information to help them in their abusive relationships. 
</li>

<li><a href="/help">Online resource lists</a></li>

<P />

<li><a href="#chapters">Direct services</a> - our SAFE chapters provide direct services in their local communities, such as court advocacy, support groups, hotlines, and so on.
</ul>

SAFE accomplishes its mission by the development and dissemination of
resource information, education and programs to foster community
involvement, referrals, outreach and services, research in areas of
domestic violence that have yet to be fully explored, education of the
general public, and education and training of community leaders,
health organizations, criminal justice agencies, and service
providers.

<p>

SAFE started in 1996. Starting out as a grassroots organization, SAFE
acquired its 501(c)3 federal nonprofit status in early 2001, so
donations are tax-deductible in the United States.

<p>

SAFE's international headquarters are in Portland, Oregon,
USA. SAFE has served tens of thousands of people since its inception,
had <a href="/news">extensive press coverage</a>, and is
growing rapidly.

<P>

You can learn more about SAFE by reading our <a href="/download/">annual reports and bylaws</a>, but you need to register on the website to see them.

<P />

<I>Contact information</I><p>

Stop Abuse For Everyone<br>
16869 SW 65th Ave #212<br>
Lake Oswego, OR 97035-7865<br>
U.S.A.<br>
(503) 853-8686<br>
<a href="http://www.safe4all.org">http://www.safe4all.org</a><br>
<a href="mailto:safe@safe4all.org">safe@safe4all.org</a> - Are you <a href="/help">looking for help</a>?

<p>
EIN: 93-1291148

<p>

<a name="chapters">

<p>

<table border=0 cellpadding=5 cellspacing=0>
<tr>
<td valign=top>
<table border=1 cellpadding=0 cellspacing=0 bgcolor="#AAAAFF">
<tr>
<td>
<table border=0 cellpadding=5 cellspacing=0 bgcolor="white">
<tr>
<td>
<i>Membership</i><p>
Does this sound like an organization you'd like to be a part of? <p>

<a href="/join">Become a member</a>!</li>

</table>
</table>

<td valign=top>

<table border=1 cellpadding=0 cellspacing=0 bgcolor="#AAAAFF">
<tr>
<td>
<table border=0 cellpadding=5 cellspacing=0 bgcolor="white">
<tr>
<td>
<i>Mailing lists</i><p>

See <a href="/forums">forums and mailing lists</a>
</table>
</table>

</td>
</table>

</ul>
</blockquote>

