<% page_header "SAFE Membership" %>

<h4>Join your voice to the many people who support this important and vital work</h4>

<BLOCKQUOTE>

<FONT COLOR="#0000FF"><P ALIGN="JUSTIFY">
Stop Abuse For Everyone (SAFE) is a human rights organization that
provides services, publications, and training to serve those who
typically fall between the cracks of domestic violence services. These
groups include men, gays and lesbians, teens, the elderly, and immigrants. <p>
</FONT>
</BLOCKQUOTE>
<P>

You will receive:
<ul>

<LI>Enrollment in the SAFE email mailing list.  You'll get emails updating
you on SAFE activities, fascinating and relevant items in the news,
new research developments, and much more. This list sends about one
message a week, and you're free to remove yourself from the list at
any point. <P>

</uL>

<P>
It only takes a few minutes to join!
<P>


<table border="1" cellpadding="5" cellspacing="0" width="100%">
<tr><td>

To join <b>online</b>: 

<ol>
  <li>Make a $20 or larger payment via Paypal (click on the Paypal logo):
<!-- Begin PayPal Logo -->
<center><form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="business" value="jade@safe4all.org">
<input type="hidden" name="item_name" value="Stop Abuse For Everyone">
<input type="hidden" name="image_url" value="/images/safe-k.jpg">
<input type="hidden" name="no_shipping" value="1">
<input type="image" src="/images/paypal.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
</form></center>
<!-- End PayPal Logo -->

  <li><a href="mailto:safe@safe4all.org?subject='New membership'&body=Name: Address:  City, State, Zip: Closest metro Area: Phone: How did you find out about SAFE (Internet Search, News media article or broadcast, Professional Referral, A friend, Other) Would you like information on forming a chapter? Yes/No Paypal Transaction ID:">Send us an email</a> (to safe@safe4all.org), with the following details:
<p />

<ul>
<li>Name:
<li>Address:
<li>City, State, Zip: 
<li>Closest metro Area: 
<li>Phone: 
<li>How did you find out about SAFE (Internet Search, News media article or broadcast, Professional Referral, A friend, Other) 
<li>Would you like information on forming a chapter? Yes/No 
<li>Paypal Transaction ID:
</ul>
<p />

<li>That's it! Your one year membership will start when you receive your welcome email from us!
</ol>
<P />

</td></tr></table>

<p />


<table border="1" cellpadding="5" cellspacing="0" width="100%">
<tr><td>

To join <b>by mail</b>:

<ol>

<li>Download our membership form in one of these formats:
<ul>
<li><a href="membership/SAFE-membership-form.doc">Word format (60k)</a>
<li><a href="membership/SAFE-membership-form.txt">Text format (7k)</a>
<li><a href="membership/SAFE-membership-form.pdf">PDF format (requires <a href="http://www.adobe.com">Adobe Acrobat</a>) (185k)</a>
</ul>

<p />

<li>Mail with a minimum $20 membership fee to: <br>
Stop Abuse For Everyone<br>
16869 SW 65th Ave PMB 212<br>
Lake Oswego, OR 97035-7865
U.S.A.

<p />

<li>That's it! Your one year membership will start when you receive your welcome email from us!
</ol>

</td></tr></table>
