Do you want to see more inclusive media coverage of domestic violence? Coverage that includes women and men, gay and straight, young and old? 

The <b>SAFE Media Corps</b> is an easy way to make a huge impact, all on only 5-10 minutes a week.

Several times a week, we send out postings of news articles from around the world that cover domestic violence, and suggest ways you can write short, polite letters to the reporters, editors, and agencies involved to encourage them to include everyone who is abused in their services.

<b>To partipate:</b>

<ol>
<li> Join our <a href="http://www.safe4all.org/forums/forum-view?forum%5fid=40107">SAFE Media Corps forum</a>. Click on "request notification" to receive email alerts.

<li> Read our <a href="/resources">resources</a> on domestic violence.

<li> Consider also subscribing to the <a href="/blog">SAFE blog</a>, which contains news items related to domestic violence, and is closely tied in with the SAFE Media Corps.
</ol>

<b>To become a Media Corps Organizer:</b>

<ul>
<li> <a href="http://www.safe4all.org/forums/message-view?message_id=40555">How do I become a SAFE Media Corps Organizer?</a>
</ul>
