<h3>What everyone should know about domestic violence:</h3>

<ol>

<h1><li> It doesn't matter who you are</h1>

Domestic violence can happen to any <i>type</i> of person. It happens to women, it happens to men. It happens to all social classes, people who speak all languages. It happens regardless of sexual orientation or religion. 

<p>

Many people have never thought about abused men, or the fact that it happens is same-sex relationships. Many also have never thought about how it happens to teens as well. 
</li>

<h1><li> It does matter who you are</h1>

There is a big debate in the domestic violence community over how to respond to the needs of &quot;non-traditional&quot; victims of domestic violence. <p>

Many advocates against domestic violence (we'll call them 'abused women's advocates') think that domestic violence is mostly a problem of women being beaten by men. Their theory is that men beat women to maintain patriarchal power in relationships. Because they have this theory of domestic violence, they believe focusing on anything other than heterosexual women victims is a distraction from the real issue.<p>

On the other side is groups like Stop Abuse For Everyone, which, as our name says, is for an inclusive vision of domestic violence (we'll call them 'advocates for all victims'). Groups like SAFE argue that all victims of domestic violence are important, and that they won't be seen unless people start offering services for them. Men, for example, are not very likely to seek out services from a &quot;women's shelter&quot;, unless they've heard that they are welcome there.  The same goes for gay men and even in some cases lesbian women. SAFE believes that we should never underestimate the importance of violence against women, but we should look at the big picture of violence in relationships.<p>

Inevitably, both groups clash over statistics. Abused women's advocates point out that hospital records and police records tend to show much higher rates of women being battered. Advocates for all victims point out that these numbers are misleading, because they only indicate people who seek out help. They often site Martin Feibert's bibliography of <a href="http://www.csulb.edu/~mfiebert/assault.htm">over 200 studies showing men and women to be equally violent in their personal relationships</a>, and that <a href="http://www.unh.edu/news/cj_nr/2006/may/em_060519male.cfm?type=n">men and women are equally violent internationally</a>. Abused women's advocates counter than women are injured at much higher rates, and criticize the way the studies in the bibliography were conducted. Advocates for all victims counter that these studies and the statistics in them are widely used even by abused women's advocates, and that research taking into account their criticism has produced the same results. <p>

As you can see, it's a very big discussion, and one that takes a lot of reading to be informed enough about to even discuss rationally. But it also completely misses the point. Both sides will agree that non-traditional victims exist, they just disagree over whether it's 5% or 35% or 50% of the problem. And they disagree over how much emphasis should be put on these victims. <p>

SAFE's perspective is that we should not be looking at the category of person, but instead look at the severity of their circumstances. The same criteria should be used to evaluate all victims/survivors of domestic violence.<p>

Why does this matter to you if you're looking for help? It is because help is hard to come by if you're not a 'traditional victim' of domestic violence. Fortunately, this website is here to help.
</li>

<h1><li> Size doesn't matter</h1>

One of the problem abused men in particular face is that there is a perception that men cannot be abused because they are on average physically stronger than women. What most people don't stop to think about is that physical strength is only half of the equation. The other part of it is how much of that strength one is willing to use to harm their partner. As one man put it: ''People always looked at me dubiously if I told them that my ex-wife had abused me. I'm much bigger than she was, and I'm sure they find it difficult to understand how that could happen. What they don't understand is that she was willing to stay up all night screaming at me and throwing things at me, she was willing to take it to any level to get what she wanted. I wasn't -- I would give up and give in. And the same thing went for violence -- I just wasn't willing to hit her back.''

</li>

<h1><li> Most people leave an abusive relationship a couple of times</h1>

This is well known in domestic violence circles, but it may be new to you. Often friends of domestic violence victims are amazed to see their friends or family members going back to the abusive relationship. It is agonizing to see, but it is extremely common. Push them to leave, but realize that it is their decision, and ultimately they will have to decide.

</li>

<h1><li> Help is available</h1>

Although few services are available, they are out there. See the <a href="/help">getting help</a> section of this website.

</li>

</ol>


<h1>More information on domestic violence:</h1>

<blockquote>


<a href="domestic_violence_essays">Essays on Domestic Violence</a>

 - contains essays on a variety of topics, including stalking, abused men, sibling violence, and more.

<br><br>

<a href="domestic_violence_books">Books on Domestic Violence</a>

 - books on abused men, same-sex violence, and more.

<br><br>

<a href="domestic_violence_websites">Websites on Domestic Violence</a>

 - sites that deal with abused women, abused men, and same-sex victims.

<br><br>

<a href="domestic_violence_research">Research on Domestic Violence</a>

 - research on abused women, abused men, same-sex victims, teen dating violence, and all forms of domestic violence.

<br><br>

<a href="domestic_violence_resources">Domestic Violence Resources</a>

 - fliers, brochures, and other materials on domestic violence.

<br><br>


</blockquote>

