<% page_heading "Speaker's Bureau" %>

<P ALIGN="CENTER">Stop Abuse For Everyone&trade;</P>
<I><P ALIGN="CENTER"><a href="http://www.safe4all.org">http://www.safe4all.org</a></P>
</I></FONT><P>

The SAFE Speakers Bureau is organized to present accurate, balanced,
and objective information about domestic violence with a focus on
those who typically fall between the cracks of domestic violence
services. These groups include men, gays and lesbians,transgendered men and women, teens, the elderly, and immigrants.

<p>

Speakers are approved by the SAFE International Board and represent a
broad range of expertise.  Each speaker agrees with the mission, goals
and purpose of SAFE which follows this listing.  Joint presentations
by two or more of the speakers are encouraged. Speakers are available for trainings, lectures, panel discussions and seminars.
<P>
To inquire about scheduling a presentation for your group contact:

<P>

SAFE (Stop Abuse For Everyone)
16869 SW 65th Ave., # 212
Lake Oswego, OR   97035-7865

(503) 853-8686 <BR>
Email: <a href="mailto:ira@safe4all.org">ira@safe4all.org</a>

<P>
<B>Philip Cook, Investigative Journalist</B>
<img src = "/images/COOK.jpg" align=left>
<P>

Mr. Philip Cook is a noted journalist who has received awards for his
reporting from the Associated Press and the Professional Journalism
Society among others. His work objectively examines and explains
relevant research results, the feelings and problems of interviewed

victims, and provider and media response to the issue. He has examined
scores of national and international domestic violence and family
programs and evaluated their potential for helpful replication. His
presentations on the subject of male abuse victims have received high praise from a diverse spectrum of society such as "Dear Abby", leading domestic violence experts, attorneys, physicians, law enforcement, and numerous mental health professionals. He has served as a founding board member of Stop Abuse for Everyone, our organization dedicated to helping victims of domestic violence regardless of gender or sexual orientation.Mr. Cook has appeared on numerous national radio and television shows such as MSNBC, Fox TV's "The Crier Report", "The O'Reilly Factor," "Montel Williams," "The Home and Family Show," and many others. He is the author of the pioneering book,Abused Men: The Hidden Side of Domestic Violence (Praeger,1977). His articles on domestic violence have been published in several publications, including the Journal of Human Behavior in the Social Environment and the book, Family Interventions in Domestic Violence: A Handbook of Gender-Inclusive Theory and Treatment (Hamel & Nicholls,2006).

<P>

Specialized Topics: 
<ul>
<li> Battered men: the hidden side of domestic violence
<li> Media and domestic violence
<li> The research on domestic violence
</ul>


<BR><BR><BR>

<B> Christina M. Dalpiaz </B>
<img src = "/images/DALPIAZ.jpg" align=left>
<P>
Christina M. Dalpiaz holds a Master's Degree in Psychology,is a certified Victims Advocate, Founder as well as Executive Director of CHANCE(Changing How Adults Nurture Children's Egos, a non-profit agency in Denver, Colorado, and a few classes from certification in addiction counseling at a level 2 (CACII).
She works as a family therapist at a residential treatment program. Herself, a survivor of domestic violence, she is an international speaker and was voted Child Advocate of the year in 1998 by the Aurora Family Violence Response Team. She is the author of several peer- reviewed journal articles and book chapters, as well as the nationally recognized book, Breaking Free, Starting Over:Parenting in the Aftermath of family Violence (Praeger, 2004).She is currently working on her newest book entitled Sparrows in a Hurricane. Her dedication to helping families is actually a second career;Dalpiaz previously served in the US Naval Reserves and retired as a Lieutenant Commander. 
<P>
Some selected presentations include: the first World Conference on Family Violence, the National Coalition Against Domestic Violence, the Family Violence Alliance Institute, the Colorado Juvenile Counsel, the Colorado Association for the Education of Young Children, the Children's Network Conference, the Colorado State Foster Care Association,the Colorado Mediation Project and the Office of Victims of Crime. Ms. Dalpiaz speaks regularly to schools, legal establishments, churches, corporations and other non-profit agencies.
<P>

Specialized Topics:
<ul>
<li> A CHANCE to Heal:Healing a Child From the Trauma of Family Violence
<li> Teen Parents and Family Violence
<li> Breaking Free, Starting Over:Parenting in the Aftermath of Family Violence
</ul>



<BR><BR><BR>

<B> Richard L. Davis </B>
<img src = "/images/DAVIS.jpg" align=left>
<P>
Richard is a retired police lieutenant. He has a graduate degree in liberal arts from Harvard University and another in criminal justice from Anna Maria College. He is a member of the International Honor Society of Historians and the American Society of Criminology and an adjunct instructor for Quincy College at Plymouth, MA.
<P>
Lt. Davis is also the president for Family Nonviolence,Inc. (www.familynonviolence.org) in Fairhaven, MA, and the author of the books Domestic Violence: Facts and Fallacies (Praeger, 1998) and Domestic Violence: Intervention, Prevention, Policies, and Solutions(Taylor & Francis, 2008).
<P>
Many of his articles have appeared in newspapers, journals, and magazines concerning the issue of domestic violence and its intersection with the criminal justice system.
<P>
Lt. Davis has online columns concerning domestic violence at www.policeone.com, and www.nycop.com
<P>
Specialized Topics:
<ul>
<li> DV Laws and Their Intersection with the Criminal Justice System
<li> Bullying
<li> Corporal Punishment
<li> Dating Violence
</ul>


<BR><BR><BR>

<B> Don Dutton, Ph.D.</B>
<img src = "/images/DUTTON.jpg" align=left>
<P>
Don Dutton received his Ph.D. in Psychology from the University of Toronto in 1970. In 1974 while on faculty at the University of British Columbia, he began to investigate the criminal justice response to wife assault, preparing a government report that outlined the need for a more aggressive response, and subsequently training police in "domestic disturbance" intervention techniques. After receiving training as a group therapist at Cold Mountain Institute, he co founded the Assaultive Husbands Project in 1979, a court mandated treatment program for men convicted of wife assault. During the 15 years he spent providing therapy for these men, he drew on his background in both social and clinical psychology to develop a model for perpetrators of intimate abuse. He has published over 100 papers and three books, including the <a href="http://www.amazon.com/exec/obidos/ASIN/0774804629/stopabuseforever/">Domestic Assault of Women</a>, <a href="http://www.amazon.com/exec/obidos/ASIN/1129770461/stopabuseforever">The Batterer: A Psychological Profile</a> and <a href="http://www.amazon.com/exec/obidos/ASIN/1572303700/stopabuseforever/">The Abusive Personality</a>.<p>
He has provided talks at the Sorbonne in Paris, the US Army at Walter Reed Hospital, Navajo Nation in Arizona, the joint ABA-APA Taskforce on DV in Washington, DC and the US Department of Defense.
SAFE Speaker Dutton has frequently served as an expert witness in civil trials involving domestic abuse and in criminal trials involving family violence, including his work for the prosecution on the O.J. Simpson trial. He is currently Professor of Psychology at the University of British Columbia, Vancouver, BC, Canada. 
His latest work, Rethinking Domestic Violence includes an examination of how the gender paradigm developed in domestic violence research and policy.

<P>
Specialized Topics:
<ul>
<li> Cause and Consequences of Domestic Violence
<li> Treatment and Criminal Justice Response to DV
<li> Psychological Factors in the Development of Violence
</ul>


<BR><BR><BR>

<B>Warren Farrell, PhD.</B>
<img src = "/images/FARRELL.JPEG" align=left>
<P>
Dr Warren Farrell began his research on gender issues in the 60's.His first book, The Liberated Male,was published in 1974.By the 80's he was feeling that men were being misrepresented, and his award winning national best seller, Why Men Are The Way They Are was written. The New York Post called it, "the most important book ever written about love, sex and intimacy."
<P>
By the 90's, Dr Farrell felt the misunderstandings about men had deepened and became dangerous to the survival of families and love. He confronted that head on with the award winning The Myth of Male Power. By the year 2000 Warren wanted to provide the sexes with the tools to communicate, in particular to hear personal criticism from an intimate partner, especially when given badly and/or in anger.That was the take off point for the Book of the Month Club selection, Women Can't Hear What Men Don't Say. He then wrote Father and Child Reunion after many years of research, which has renewed the commitment of many men regarding children of divorce how they are most likely to be raised successfully. Its research has helped judges understand the importance of dads.  His books are published in over 50 countries in 13 languages.
<P>
Warren has appeared on over 1000 TV and radio shows, and has been interviewed frequently by Oprah, Barbara Walters and Larry King.He has been featured on 20/20 and the Today Show and in The New York Times, People Magazine and The Wall Street Journal.
<P>
Warren Farrell's experience is symbolized by him starting over 600 mens and womens groups and is the only man in the US to be elected three times to the Board of Directors of the National Organization for Women.
He is in Who's Who in America and Who's Who in the World and President Lyndon Johnson chose Dr Farrell as one of the outstanding young educators in the United States.
<P>

Specialized Topics:
<ul>
<li> Out-of the Box Solutions to Domestic Violence
<li> Why Men Are the Way They Are
</ul>

<BR><BR><BR>

<B>John Hamel, LCSW</B>
<img src = "/images/HAMEL.jpg" align=left height="150" width="150">
<P>

John Hamel, LCSW, has a Masters in Social Welfare from U.C.L.A., and has conducted batterer intervention and parent programs in the San Francisco Bay Area since 1992.  He is the author of <a href="http://www.amazon.com/exec/obidos/ASIN/0826118739/stopabuseforever">Gender-Inclusive Treatment of Intimate Partner Abuse</a> (Springer, 2005), and co-editor with Tonia Nicholls, PhD, of Family Interventions in Domestic Violence: A Handbook of Gender-Inclusive Theory and Treatment (Springer, 2007).  Mr. Hamel is Editor-in-Chief of the peer-reviewed professional journal, Partner Abuse, published quarterly by Springer Publishing.  He regularly speaks at conferences on domestic violence, and has provided consultation and training to mental health professionals, victim advocates and shelter workers, social service organizations, teachers, attorneys, judges and law enforcement officers.  He also provides case consultation and expert witness testimony.  His latest book, Intimate Partner and Family Abuse:  A Casebook of Gender Inclusive Therapy, was published by Springer in Spring, 2008.

<P>
Specialized Topics: <ul>
<li>New Approaches for Effective and Inclusive Batterer Intervention
<li>Domestic Violence Today: Truth, Myth, and all The Shades of Gray (includes manual and reading guide)
</ul>



<BR><BR><BR>





<B> Thomas B. James </B>
<img src = "/images/JAMES.jpg" align=left>
<P>
Tom James is an attorney, mediator, author and SAFE Speaker. He received his B.A. at the University of California, Berkeley; his J.D. at Southwestern University School of Law; and his family mediation training at Hamline University's Dispute Resolution Institute. He served as co counsel in a lawsuit challenging gender-based domestic abuse laws on Equal Protection grounds, and is currently pursuing a constitutional challenge to legal presumptions favoring sole maternal custody of children. He is also the founder and director of Better Resolutions Mediation Service. He resides in Minnesota.
<P>
In his book, <a href="http://www.safe4all.org/essays/thomas_james">Domestic Violence: The 12 Things You Aren't Supposed to Know</a>, Mr. James exposes the truth concerning twelve widely-held beliefs about domestic violence; explains why the propaganda war that has been waged in this area for the past thirty years is hurting more victims than it has been helping; and lays out an agenda for reform in both the study and the treatment of domestic abuse. In addition to domestic violence, he also presents courses and workshops on divorce, mediation and other family law related topics.
<P>
Specialized Topics:
<ul> 
<li> Domestic Violence: The 12 Things You Aren't Supposed to Know
<li> Male Victims of Domestic Abuse
<li> Gender Bias in the Courts: A Second Look
<li> Family Law Basics: Divorce, Paternity, Custody and Support
</ul>
 


<BR><BR><BR>

<B>R. L. McNeely, Ph.d, J.D., School of Social Welfare, Univ. of Wisconsin-Milwaukee</B>
<img src = "/images/MCNEELY.jpg" align=left>
<P>

Dr. R.L. McNeely is a professor of social welfare at the University of Wisconsin-Milwaukee, and a practicing attorney.
His published books as well as peer-reviewed journal articles have focused upon issues of work and family, aging and race, and on  numerous aspects of domestic violence.His work in the field of domestic violence inspired a NBC documentary, "Of Macho and Men," and he has appeared on CBS Morning News discussing domestic violence as a human issue, rather than a women's issue. R.L. is also a Research Fellow of the Gerontological Society of America. He has testified before Congress on the issue of domestic violence, serves as a domestic violence consultant for the US Army and, as an attorney, has successfully represented individuals falsely accused of domestic violence.  We are thrilled that he speaks for SAFE. Dr. McNeely is a speaker who will
challenge, enlighten, and educate any audience
<P>

Specialized Topics: 
<ul>
<li> Research on domestic violence
<li> Legal aspects of domestic violence
</ul>


<BR><BR><BR>

<B> Linda G. Mills, B.A., M.S.W., Ph.D., J.D. </B>
<img src = "/images/MILLS.jpg" align=left>
<P>
Linda G. Mills is professor of social work,public policy and law at NYU, where she also serves as Senior Vice Provost for Undergraduate Education and University Life. Dr Mills' research focuses on trauma,violence and recovery. She is the author of numerous scholarly articles and books in the field of domestic violence, including Killing Her Softly:Intimate Abuse and the Violence of State Intervention which was published in Harvard Law Review in 199, and Insult to Injury:Rethinking Our Response to Intimate Violence published by Princeton University Press in 2003. He forthcoming book on intimate violence will be published ny Basic Books in summer of 2008. Dr Mills is the director of NYU's Center on Violence and Recovery, which she founded in 2004 to study violence and to develop alternative research based interventions.In connection with this effort, Mills is currently the Principal Investigator on a National Science Foundation study evaluating two treatment programs in Nogales Arizona: Batterer's Intervention Program and Peacemaking Circles(a restorative justice treatment program for domestic violence crimes- the first of its kind in the country). Dr Mills' work is often featured in the popular press, including the New York Times Magazine, Los Angeles Times, USA Today and Glamour. She has also appeared on Oprah, O'Reilly Factor and the Geraldo Rivera Show.
<P>
Linda's brand new book,Violent Partners: a Breakthrough Plan for Ending the Cycle of Abuse has just been published by Basic Books and SAFE figures prominently as one of the inspiring new grassroots organizations in Chapter 10.



<BR><BR><BR>


<B>Dr. Jill Murray</B>
<img src = "/images/MURRAY.jpg" align=left height="187" width="150">
<P>
Dr. Jill Murray has become the leading expert on the subject of teen dating abuse in the U.S. and Canada.  She has appeared on more than 140 television shows-including twice on Oprah, Montel, Dr. Laura, and Leeza-speaking as the guest expert in the field, as well as 185 radio talk shows.  She is the author of the best-selling book, <a href="http://www.amazon.com/exec/obidos/ASIN/0060957298/stopabuseforever">But I Love Him: Protecting Your Teen Daughter from Controlling, Abusive Dating Relationships</a>, <a href="http://www.amazon.com/exec/obidos/ASIN/1588720268/stopabuseforever">Destructive Relationships: A Guide to Changing the Unhealthy Relationships in Your Life</a>, and her newest book, <a href="http://www.amazon.com/exec/obidos/ASIN/0595411398/stopabuseforever">But He Never Hit Me</a>, has just been released. She is a highly sought-after SAFE guest lecturer at international conferences on domestic violence and speaks to more than 80,000 middle and high school students each year on this subject.  Dr. Murray maintains a private practice in Orange County, California.
<P>
Specialized Topics: 
<ul>
<li>Teen dating abuse
</ul>



<BR><BR><BR>


<B> Patricia Overberg, M.S.W.</B>
<img src = "/images/OVERBERG.jpg" align=left height="205" width="150">
<P>

Ms. Overberg began working with victims in the early 1960's through a program of the Providence, RI School System. 
She found that many of the children who had emotional, academic and acting out problems came from violent homes,and she worked primarily with their mothers. During that time, Ms. Overberg went back to school and got her bachelors degree. From there she went to Miami, attended Barry University and worked with the elderly, many of whom were being battered by their children. After graduating with an MSW, she drove to California with the goal of living and working in different parts of the state, which she says she has "pretty well accomplished." After working with the mentally ill at Portals in Los Angeles, she then spent the remainder of her career working with family violence, sexual assault, rape and stalking victims. From 1984 to presently, she has had positions as the CEO of various organizations, including the YWCA in California and the Valley Oasis in Lancaster where she opened the first and only shelter for battered men in the country. She was working with an agency in Salinas which was first called the Women's Crisis Center and is now known as the Central Coast Crisis Center and advertises that it serves all ages, genders and families in need.She currently works with the Men's Center in San Diego to help maintain services to men throughout San Diego and Orange Counties.
<P>
Pat received the first award of excellence as an administrator of social services programs from the California Chapter of the National Association of Social Work in 2002. She also received proclamations for excellence from the Board of Supervisors of Los Angeles and the Domestic Violence Coordinating Council of Monterey County, CA. She has been certified as an MSW intern supervisor by Cal State San Bernardino and UCLA.
<P> 
Specialized Topics:
<ul>
<li> Forming Community Agency Collaboratives
<li> Establishing a Co-Ed Shelter Program
<li> How to Sell Your Program to the Funding Agencies
</ul>


<BR><BR><BR>



<B>Greg Schmidt, Law Enforcement Commander</B>
<img src = "/images/SCHMIDT.jpg" align=left>
<P>

Mr. Greg Schmidt received his teaching degree from the University of
Washington.  After teaching high school for a short period he entered
the field of law enforcement in 1986. He has been actively working
domestic violence issues in his department, and at the local, state
and federal level for well over a decade.  As a Sergeant with the
Seattle Police Department he drafted policies, created training guides
and videos on the existing and changing laws in the field of domestic
violence. In 1994 he was assigned the task to create a specialized
Domestic Violence Investigative Unit. This unit became a model for
other law enforcement agencies around the country. He received
recognition and awards for his work to include &quot;Outstanding
Domestic Violence Investigator&quot; from the Seattle City
Prosecutor's Office.
<P>
In 1996 he was promoted to the rank of Lieutenant where he currently
commands the warrant unit within the Seattle Police Department.

<P>
He has conducted research into the laws and statewide policies on domestic
violence. His research has included an extensive review of domestic violence
related homicides. He has appeared on radio talk shows, newspaper,
television and has presented to civic groups and colleges.  He volunteers as
a domestic violence victim's advocate and is active in several local
organizations that work on family violence and family law issues.

<P>
Greg Schmidt is an excellent SAFE presenter and has extensive knowledge in the
field of domestic violence. His presentations are tailored to the audience
whether it be teaching operational procedures to patrol officers,
investigative techniques to detectives, policy and liability issues to
police managers or topics surrounding domestic violence awareness, history
and dynamics of domestic violence relationships to private organizations and
civic groups
<P>
Specialized Topics: 
<ul>
<li> Police department trainings, including operational procedures, investigative techniques, policy and liability issues.
<li> Statewide law and policies on domestic violence
<li> Domestic violence homicides
</ul>




<BR><BR><BR>

<B>Sheila Smith, LCSW</B>
<img src = "/images/SMITH.jpg" align=left width="125">
<P>
Sheila D. Smith, LCSW is a 1985 graduate of Portland State University School of Social Work. Sheila is in private practice and has provided assessments for the chronically mentally ill and the corrections population. Sheila consults in a wide variety of cases for child welfare agencies, the courts, medical boards, county mental health agencies, and in the area of sex crimes and homicide cases, both privately and with law enforcement. As an adjunct professor she has taught courses on criminal profiling, homicide and sex crimes, infanticide, juvenile violence and psychopathy. Ms. Smith is a member of The Academy of Behavioral Profiling, The Forensic Science Society and serves as a board member of SAFE.
 - "Sheila Smith is an expert at the 'Ah Ha' moments. Sheila allows each individual in an audience to see the most confounding problems with a clear eye and open heart. That instant of clarity makes you say, Ah Ha! Now...I understand!" - 
Anne Jaeger, KOIN TV -
 

<P>
Specialized Topics: 
<ul>
<li> Human aggression
<li> Gender differences in criminal behavior
<li> Crime analysis
</ul>



<BR><BR><BR>

<B> Reena Sommer, Ph.D. </B>
<img src = "/images/SOMMER.jpg" align=left>
<P>
Reena Sommer, Ph.D. is an internationally recognized family life and divorce consultant,SAFE Speaker and freelance writer. Dr. Sommer received her graduate training at the University of Manitoba in Winnipeg, Canada where she graduated with a Master of Science in Family Studies and an interdisciplinary doctorate in Psychology, Family Studies and Sociology. In 1992, she was honored with the National Council of Family Relations "Student of the Year" Award for her contributions to domestic violence research. In 1995, she was the recipient of a federal post-doctoral award from Health Canada also for her research in that same area.
<P>
Dr. Sommer has been an invited speaker to a wide range of audiences across Canada and the US. In 1998, she testified before the Joint Senate-House of Commons Committee on Custody and Access and delivered a presentation based on the role of domestic violence in making decisions in divorcing families.
<P>
In September of 2004, Dr. Sommer had the privilege of providing expert testimony on Parental Alienation Syndrome (PAS) at a custody hearing in Galveston, TX involving a ten year old boy who has been charged in the shooting death of his father.
<P>
Dr. Sommer maintains an active private consulting practice in Galveston, Texas. Her current interests remain in the area of conflicted relationships but have moved toward the transfer of conflict between couples onto their children following a relationship break up:
<P>
Specialized Topics:
<ul>
<li> Bi-directionality of Partner Abuse
<li> The Politics of Domestic Violence
<li> Custody Battles as a By-Product and Manifestation of Domestic Violence

</ul>



<BR><BR><BR>

<B> Jack Turteltaub, Ph.D. </B>
<img src = "/images/TURTELTAUB.jpg" align=left>
<P>
Jack Turteltaub, Ph.D. is a clinical psychologist, personal coach and freelance writer. Dr. Turteltaub completed his undergraduate studies at the University of Washington and then obtained his MA and Ph.D. degrees at Wayne State University in Detroit, MI. He is currently licensed in both Utah and Oregon.
During his graduate years, Dr. Turteltaub was trained in neuropsychology at the Lafayette Clinic in Detroit and completed his predoctoral internship with a specialization in chemical abuse and PTSD at the Veterans Affairs Medical Center in Salt Lake City, UT. His research focused on Panic Disorder and the MMPI (Masters' thesis subject) and antisocial personality and substance abuse (doctoral dissertation), using male subjects recruited at VAMC.
Dr. Turteltaub worked for three and a half years as a domestic violence therapist at Cornerstone Counseling in Salt Lake and for eight years as a staff psychologist at the Oregon State Hospital (Primarily at the Portland campus). Dr. Turteltaub focused on intellectual and neuropsychological assessment and individual/group therapy, as well as the development of behavioral and treatment plans.
Dr. Turteltaub has presented on domestic violence, neuropsychology case studies, gay/lesbian psychology as well as the Personality Assessment Inventory. He has worked in private practice, started Peak Coaching Services and currently also works as a part-time freelance writer. He is a SAFE International Board Member.
<P>
Specialized Topics:
<ul>
<li> Stigma in the Sexual Minority Community (Two Closet Phenomenon)
<li> Myths about DV in the G/L/B/T community
<li> Stereotypes vs. Reality
</ul>

<BR><BR><BR>

<B> Reid Vanderburgh, MA, LMFT </B>
<img src = "/images/VANDERBURGH.jpg" align=left>
<P>
Reid Vanderburgh is a licensed Marriage and Family therapist with a private practice in Portland, OR.
His specialization and focus is helping people cope with major life transformative events: Loss and grief, domestic violence, shifting sexual orientation, and emergence of gender identity issues. He brings a unique prospective as someone who transitioned from female to male in the mid 1990's. He is the author of Transition and Beyond: Observations on Gender Identity.
<P>
In addition to his work as a therapist, Reid has extensive experience providing workshops, classes and presentations on transgender issues, within a variety of settings. He became interested in domestic violence work first professionally, desiring to help agencies begin the process of being more holistic in their approach to the issue. In this way, they would better serve the transgender survivors. On a personal level,his interest deepened when a close friend disclosed that she was a long time survivor, making him realize how insidious deep seated shame can be. Reid is a member of WPATH(World Professional Association for Transgender Health)and the American Association of Family Therapists. He was a former Board Member of Basic Rights Oregon and recently became an International Board Member of SAFE.
<P>
Specialized Topics:
<ul>
<li> Domestic Violence in the Transgender Community
<li> Transgender Inclusion in Service Provision
<li> Forming New Relationships with Non-Abusers
</ul>



<br clear="all">

<hr>

The purpose of this organization is to address the problems of family
abuse and violence for all, regardless of gender, sexual identity and
age, through development and dissemination of resource information,
education and programs to foster community involvement, referrals,
outreach and services, with an emphasis on underserved groups,
research in areas of domestic violence that have yet to be fully
explored, education of the general public, and education and training
of community leaders, health organizations, criminal justice agencies,
and service providers.
